.settings/
*.settings/
*.classpath
*.project
.externalToolBuilders
.settings/*.*
.settings
target/*
target/*.*
*.JSCompress
*.jscompress
*.lnk
*.bat
Servers/
.metadata/
RemoteSystemsTempFiles/
.settings/
*.classpath
*.project
*.externalToolBuilders/
target/
*.target/*
*.logs/
*.logs/*

.recommenders/
cnbi-server/cnbi-portal-webapp/src/main/webapp/bower_components/cnbi/cnbijgx.js
cnbi-server/cnbi-portal-webapp/src/main/webapp/bower_components/dist/
cnbi-server/cnbi-portal-webapp/src/main/webapp/bower_components/dist/*.min.js


